<%= form_with(model: @letter, local: true,url: confirm_letter_path  ) do |form| %>
  <% if @letter.errors.any? %>
    <div id="error_explanation">
      <h2><%= @letter.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @letter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="letter_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
