<h1>つぶやき一覧画面</h1>
<p><%= notice %></p>

<table>
<% @letter.each do |letter| %>
  <tr>
    <td><%= letter.content %></td>
    <td><%= link_to '投稿を削除する', letter_path(letter.id), method: :delete,data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to '投稿を編集する', edit_letter_path(letter.id) %></td>
  </tr>
<% end %>
</table>

<%= link_to '新しくブラグを投稿する', new_letter_path %>
